.App{
  width:100vw;
  min-height:100vh;
  display:flex;
  justify-content: space-around;
  align-items: stretch;
  /* background-color: red; */
}

.right-screen{
  height:100vh;
  flex:1;
  box-sizing: border-box;
  padding:5px;
  /* background-color: rgb(146, 224, 167); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.current-user-section, .register-form-section{
  flex:1;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  box-sizing: border-box;
  /* border-bottom:5px solid rgb(128, 119, 119); */
}

.register-form-section{
  grid-template-rows: repeat(3,1fr);
  background-color: rgba(0,0,0,0.1);
}

.title{
  font-size:24px;
  grid-column: 1 / -1;
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color:rgb(47, 47, 47);
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.2);
}

.sub{
  font-size: 16px;
  letter-spacing: 2px;
  background-color: transparent;
}

.asLink{
  margin:auto;
  background-color: rgb(39, 39, 39);
  color: #fff;
  padding:10px;
  border-radius: 10px;
  text-decoration: none;
  border:1px solid #aaa;
  cursor: pointer;
  user-select: none;
}

.asLink:hover{
  background-color: rgba(0,0,0,0.7);
}

.asLink:active{
  scale:0.98;
}

.asLink:disabled{
  background-color: #aaa;
  scale: 1;
}

.all-time, .last-time{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data{
  font-size:20px;
}

.user-name{
  font-size: 40px;
  grid-column: 1 / -1;
  grid-row: 2 / 4;
  /* background-color: red; */
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(-1px);
  text-shadow: 0px 2px green;
}

.register-form-section form{
  grid-column: 1 / -1;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.register-form-section form input{
  width:65%;
  height:35px;
  font-size: 15px;
  /* transform: translateX(-10%); */
  border:2px solid rgb(61, 61, 248);
  border-radius: 3px;
  box-shadow: 0px 0px 2px 1px yellow;
}

.register-form-section form button{
  width:30%;
  height:35px;
}

.other-section{
  flex:1;
  width: 100%;
  height: 33%;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.other-section .title{
  flex:1;
}

.user-list{
  flex:5;
  overflow-y: scroll;
  display:flex;
  flex-direction:column;
  background-color: antiquewhite;
}

.user-list .a{
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  background-color: #aaa;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.left-screen{
  position: relative;
  flex:3;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container{
  box-sizing: border-box;
  display: grid;
  /* grid-gap: 10px; */
  grid-template-columns: repeat(4, auto);
  background-color: rgb(245, 245, 245);
  perspective: 500px;
  padding: 10px;
}

.info{
  grid-column: 1 / -1;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.controls{
  grid-column: 1 / -1;
  margin:25px 0px;
  display: flex;
  background-color: rgba(0,0,0,0.2);
  padding:5px;
  box-sizing: border-box;
}

.startWrapper{
  background-color: orange;
  padding: 2px;
  border-radius: 5px;
}

.start-active{
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  0% {background-color:brown;}
  50% {background-color: orange;}
  100% {background-color: crimson;}
}

.controls button{
  margin:2px;
  padding:10px;
  min-width:150px;
  min-height:40px;
  /* border:1px solid gray;
  background-color: rgba(191, 253, 253, 0.5); */
}

.disabled{
  pointer-events: none;
}
